.section-featured-in {
  padding: 4.8rem 0 3.2rem;
}

.logo-box {
  display: flex;
  justify-content: space-around;

  img {
    height: 3.2rem;
    opacity: 0.5;
    filter: brightness(0);
  }
}
